<div class="container">
  <div class="content">
    <div class="logo">
      <img src="assets/images/front-test.svg" alt="front-test" />
    </div>
    <!-- /.logo -->
    <div class="text-box">
      <p class="text-content">
        Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se
        pirulitá.
      </p>
      <!-- /.text-content -->
      <button mat-stroked-button class="read-more">
        Saiba Mais
      </button>
    </div>
    <!-- /.text-box -->
    <div class="card-session">
      <mat-card id="left-card" class="aux-card" @slideDownState>
        <mat-card-title>Mussum Ipsum cacilds</mat-card-title>
        <div class="images">
          <img
            src="assets/images/bg-front.svg"
            alt="purple-bg"
            class="purple-bg"
          />
          <img
            src="assets/images/fingerprint.svg"
            alt="fingerprint"
            class="fingerprint"
          />
        </div>
        <!-- /.images -->
        <div class="card-content">
          <p>
            Delegadis gente finis, bibendum egestas augue arcu ut est
            interessantiss quisso pudia.
          </p>
          <button mat-stroked-button class="read-more">
            Saiba Mais
          </button>
        </div>
        <!-- /.card-content -->
      </mat-card>
      <!-- /.aux-card -->
      <mat-card id="middle-card" class="main-card mb-5" @slideDownState>
        <mat-card-title>Mussum Ipsum cacilds</mat-card-title>
        <div class="images">
          <img
            src="assets/images/bg-front.svg"
            alt="purple-bg"
            class="purple-bg"
          />
          <img
            src="assets/images/fingerprint.svg"
            alt="fingerprint"
            class="fingerprint"
          />
        </div>
        <!-- /.images -->
        <div class="card-content">
          <p>
            Delegadis gente finis, bibendum egestas augue arcu ut est
            interessantiss quisso pudia.
          </p>
          <button mat-stroked-button class="read-more">
            Saiba Mais
          </button>
        </div>
        <!-- /.card-content -->
      </mat-card>
      <!-- /.main-card mb-5 -->
      <mat-card id="rigth-card" class="aux-card" @slideDownState>
        <mat-card-title>Mussum Ipsum cacilds</mat-card-title>
        <div class="images">
          <img
            src="assets/images/bg-front.svg"
            alt="purple-bg"
            class="purple-bg"
          />
          <img
            src="assets/images/fingerprint.svg"
            alt="fingerprint"
            class="fingerprint"
          />
        </div>
        <!-- /.images -->
        <div class="card-content">
          <p>
            Delegadis gente finis, bibendum egestas augue arcu ut est
            interessantiss quisso pudia.
          </p>
          <button mat-stroked-button class="read-more">
            Saiba Mais
          </button>
        </div>
        <!-- /.card-content -->
      </mat-card>
      <!-- /.aux-card -->
    </div>
    <!-- /.card-session -->
    <hr />
    <div class="footer">
      <div class="text-block">
        <a>Quem Somos</a>
        <a>Como Funciona</a>
        <a>FAQ's</a>
        <a>Contato</a>
      </div>
      <!-- /.text-left -->
      <div class="text-block">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/cadastro']">Cadastro</a>
        <a>Termos de Uso</a>
        <a>Privacidade</a>
      </div>
      <!-- /.text-right -->
      <!-- <img src="assets/images/bg-front.svg" alt="footer-background"/> -->
    </div>
    <!-- /.footer -->
  </div>
  <!-- /.content -->
</div>
<!-- /.container -->
