<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto login-content"><!--@slideState-->
      <span class="title mb-2">
        Entrar
      </span>
      <div>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="E-mail"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Senha"
            />
            <mat-icon>remove_red_eye</mat-icon>
          <div class="text-right">
            <span class="forget-password">
              Esqueceu a senha?
            </span>
          </div>
          </div>
          <div class="btn-area">
            <button class="btn-login" type="submit" mat-raised-button color="primary">
              Entrar
            </button>
          </div>
          <div class="text-center mt-4">
            <a href="#" class="register">
              Não tem uma conta? Cadastre-se
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
