<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="register col-auto">
      <span class="title mb-5">
        Cadastrar
      </span>
      <!-- /.title mb-3 -->
      <div>
        <form [formGroup]="formRegister" (ngSubmit)="goRegister()" @slideState>
          <div class="form-container mb-4">
            <div class="form-left">
              <p>Informações Pessoais</p>
              <input
                class="form-control"
                type="text"
                placeholder="Nome/Razão Social"
                formControlName="name"
              />
              <div class="half-fields">
                <input
                  class="form-control"
                  type="text"
                  placeholder="CPF"
                  formControlName="cpf"
                  mask="000.000.000-00"
                />
                <input
                  class="form-control"
                  type="tel"
                  placeholder="Telefone"
                  formControlName="tel"
                  mask="00000-0000"
                />
              </div>
              <input
                class="form-control"
                type="email"
                placeholder="E-mail"
                formControlName="email"
              />
              <div class="password">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Senha"
                  formControlName="password"
                  id="password"
                />
                <mat-icon (click)="showPassword()">remove_red_eye</mat-icon>
              </div>
              <!-- /.password -->
            </div>
            <!-- /.form-left -->
            <div class="form-right">
              <p>Endereço</p>
              <div class="address-fields">
                <input
                  class="form-control first-input"
                  type="text"
                  placeholder="CEP"
                  formControlName="cep"
                  mask="00000-000"
                />
                <input
                  class="form-control second-input"
                  type="text"
                  placeholder="Logradouro"
                  formControlName="addressPlace"
                />
              </div>
              <div class="address-fields">
                <input
                  class="form-control first-input"
                  type="text"
                  placeholder="Número"
                  formControlName="addressNumber"
                />
                <input
                  class="form-control second-input"
                  type="text"
                  placeholder="Bairro"
                  formControlName="neighborhood"
                />
              </div>
            </div>
            <!-- /.form-right -->
          </div>
          <!-- /.form-container mb-4-->
          <div class="btn-area">
            <button
              class="btn-register"
              type="submit"
              mat-raised-button
              color="primary"
            >
              Cadastrar
              <img
                src="assets/images/Spinner-1s-200px.gif"
                width="24px"
                height="24px"
                *ngIf="submitted"
              />
            </button>
            <div class="text-center mt-4">
              <a [routerLink]="['/login']" class="login">
                Já tem uma conta? Faça login
              </a>
            </div>
            <!-- /.text-center mt-4 -->
          </div>
          <!-- /.btn-area -->
        </form>
      </div>
    </div>
    <!-- /.register col-auto -->
  </div>
  <!-- /.row justify-content-center -->
</div>
<!-- /.container-fluid -->
