<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="register col-auto">
      <span class="title mb-5">
        Cadastrar
      </span>
      <!-- /.title mb-3 -->
      <div>
        <form>
          <div class="form-container mb-4">
            <div class="form-left">
              <p>Informações Pessoais</p>
              <input
                class="form-control"
                type="text"
                placeholder="Nome/Razão Social"
              />
              <div class="half-fields">
                <input class="form-control" type="text" placeholder="CPF" />
                <input class="form-control" type="tel" placeholder="Telefone" />
              </div>
              <input class="form-control" type="email" placeholder="E-mail" />
              <div class="password">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Senha"
                />
                <mat-icon>remove_red_eye</mat-icon>
              </div>
              <!-- /.password -->
            </div>
            <!-- /.form-left -->
            <div class="form-right">
              <p>Endereço</p>
              <div class="address-fields">
                <input
                  class="form-control first-input"
                  type="text"
                  placeholder="CEP"
                />
                <input
                  class="form-control second-input"
                  type="text"
                  placeholder="Logradouro"
                />
              </div>
              <div class="address-fields">
                <input
                  class="form-control first-input"
                  type="text"
                  placeholder="Número"
                />
                <input
                  class="form-control second-input"
                  type="text"
                  placeholder="Bairro"
                />
              </div>
            </div>
            <!-- /.form-right -->
          </div>
          <!-- /.form-container mb-4-->
          <div class="btn-area">
            <button
              class="btn-register"
              type="submit"
              mat-raised-button
              color="primary"
            >
              Cadastrar
            </button>
            <div class="text-center mt-4">
              <a [routerLink]="['/login']" class="login">
                Já tem uma conta? Faça login
              </a>
            </div>
            <!-- /.text-center mt-4 -->
          </div>
          <!-- /.btn-area -->
        </form>
      </div>
    </div>
    <!-- /.register col-auto -->
  </div>
  <!-- /.row justify-content-center -->
</div>
<!-- /.container-fluid -->
