<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="register col-auto">
      <span class="title mb-5">
        Cadastrar
      </span>
      <!-- /.title mb-3 -->
      <div>
        <form>
          <div class="form-row">
            <div class="personal-info col-12 col-md-3 col-lg-6">
              <p>Informações Pessoais</p>
              <div class="col-12">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nome/Razão Social"
                />
                <div class="valid-feedback">
                  Preenchido corretamente!
                </div>
                <!-- /.valid-feedback -->
              </div>
              <!-- /.col-12 - Nome/Razão Social -->
              <div class="row">
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="CPF" />
                  <div class="valid-feedback">
                    Preenchido corretamente!
                  </div>
                  <!-- /.valid-feedback -->
                </div>
                <!-- /.col-6 - CPF -->
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Telefone"
                  />
                  <div class="valid-feedback">
                    Preenchido corretamente!
                  </div>
                  <!-- /.valid-feedback -->
                </div>
                <!-- /.col-6 - Telefone -->
              </div>
              <!-- /.row -->
              <div class="col-12">
                <input type="text" class="form-control" placeholder="E-mail" />
                <div class="valid-feedback">
                  Preenchido corretamente!
                </div>
                <!-- /.valid-feedback -->
              </div>
              <!-- /.col-12 - E-mail -->
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Senha" />
                <div class="valid-feedback">
                  Preenchido corretamente!
                </div>
                <!-- /.valid-feedback -->
              </div>
              <!-- /.col-12 - Senha -->
            </div>
            <!-- /.personal-info col-12 col-md-3 col-lg-6 -->
            <div class="address-info col-12 col-md-3 col-lg-6">
              <p>Endereço</p>
              <div class="row">
                <div class="col-3">
                  <input type="text" class="form-control" placeholder="CEP" />
                  <div class="valid-feedback">
                    Preenchido corretamente!
                  </div>
                  <!-- /.valid-feedback -->
                </div>
                <!-- /.col-3 - CEP -->
                <div class="col-9">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Logradouro"
                  />
                  <div class="valid-feedback">
                    Preenchido corretamente!
                  </div>
                  <!-- /.valid-feedback -->
                </div>
                <!-- /.col-9 - Logradouro -->
              </div>
              <!-- /.row -->
              <div class="row">
                <div class="col-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Número"
                  />
                  <div class="valid-feedback">
                    Preenchido corretamente!
                  </div>
                  <!-- /.valid-feedback -->
                </div>
                <!-- /.col-3 - Número -->
                <div class="col-8">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Bairro"
                  />
                  <div class="valid-feedback">
                    Preenchido corretamente!
                  </div>
                  <!-- /.valid-feedback -->
                </div>
                <!-- /.col-9 - Bairro -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.address-info col-12 col-md-3 col-lg-6 -->
          </div>
          <!-- /.form-row -->
        </form>
      </div>
    </div>
    <!-- /.register col-auto -->
  </div>
  <!-- /.row justify-content-center -->
</div>
<!-- /.container-fluid -->
